[Desktop Entry]
Categories=System;
Comment[en_US]=Bytebar
Comment=Bytebar
Exec=~/.local/share/bytebar/bytebar-ind.py
GenericName[en_US]=Bytebar Indicator
GenericName=Bytebar Indicator
Icon=~/.local/share/bytebar/bytebar.png
MimeType=
Name[en_US]=bytebar-indicator.desktop
Name=bytebar-indicator.desktop
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
